html, body {
    height: 80%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 2px 2px 20px 6px rgba(0, 0, 0, 0.05);
    background-color: #f1f1f1;
    max-height: 700px;
    box-sizing: border-box;
    width: 90%; /* Ensure it doesn't overflow horizontally */
}


.title{
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #515151;

}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}
.main-zone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
    padding: 10px;
}
.camera-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 20px;

}
.camera{
    width: 640px;
    height: 480px;
    border: none;
    border-radius: 10px;
}

.capture-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.capture-input{
    width: 70%;
    margin: 0px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: all 0.3s;
}

.capture-input:hover{
    border: 1px solid #8312a6;
}

.capture-btn{
    margin: 0px;
    padding: 10px;
    min-width: 30%;
    border: none;
    border-radius: 10px;
    background-color: #8312a6;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.capture-btn:hover{
    background-color: #6a0f8e;
}


/* -----------------------FEATURES----------------------- */

.feature-container{
    display: flex;
    min-width: 600px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    gap: 40px;
    margin-top: 60px;
    padding: 10px;
}

.delete-folder,
.train-model{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.delete-title,
.train-title{
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #515151;

}

.delete-content{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.train-content{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.select-input{
    width: 55%;
    margin: 0px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: all 0.3s;

}

.delete-btn{
    margin: 0px;
    padding: 10px;
    min-width: 120px;
    border: none;
    border-radius: 10px;
    background-color: #c51f13;
    color: #fff7f7;
    cursor: pointer;
    transition: all 0.3s;
}

.delete-btn:hover{
    background-color: #9c1212;
}

.train-btn{
    margin: 0px;
    padding: 10px;
    min-width: 120px;
    border: none;
    border-radius: 10px;
    background-color: #0f9c1f;
    color: #f7fff7;
    cursor: pointer;
    transition: all 0.3s;
}

.train-btn:hover{
    background-color: #0f7c1f;
}